$primary: #252422;
$secondary: #eb5e28;
$light:      #fffcf2;
$dark:          #161616;
$muted: #403d39;
$text-light: #9d9d9d;
$text-muted: #403d39;



$font-family-sans-serif: "DM Sans";
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
  7: 2rem,
  8: 1.5rem
);

$spacer: 1rem !default;

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
  7: $spacer * 12.5,
  8: $spacer * 10,
) !default;

$border-radius-xl:            1.25rem;

$body-bg: $primary;

$box-shadow:                  0 0.5rem 2rem rgba($secondary, .15);





@import "../node_modules/bootstrap/scss/bootstrap.scss";